<h4>Listado</h4>
<ul class="list-group">
  <li *ngFor="let list of characterList;
  let i =  index;
  let isFirts = first;
  let isLast = last;
  let isEvent = even;
  let isOdd = odd"

  class="list-group-item d-flex justify-content-between" [ngClass]="{'list-group-item-info': isFirts,
  'list-group-item-success': isOdd
  }">
  <!--isFists obtiene el primero de la lista-->
  <!--isFLast obtiene el último de la lista-->
  <!--isEvent obtiene el par de la lista-->
  <!--isOdd obtiene el impar de la lista-->


  <div>
    <span class="text-primary">{{i}}. </span>
    <span>{{list.name}} </span>
    <strong>Power: </strong>
    <span>{{list.power}}</span>
  </div>
  <button (click)="onDeletCharacter(list.id)" type="button" class="btn btn-danger">x</button>

</li>
</ul>
